<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Spectral+SC:400,400i,700" rel="stylesheet">
    <title>{{title}}</title>
  </head>
  <body>
    <header class="header">
      {% if not home %}
        <nav class="nav top-drop">
          <a class="top-drop__group-item nav__link" href="/">Home</a>
          <ul class="top-drop__group">
            {% block nav %}
            {% endblock %}
          </ul>
        </nav>
      {% endif %}
      <h1 class="header__title">{% block title %}{{title}}{% endblock %}</h1>
    </header>
    <main>
      {% block main %}

      {% endblock %}
    </main>
  </body>
</html>

