---
---

{% extends 'default.njk' %}

{% block subtitle %}
  {% if index %}
    {{ campaignName }}: {{ type }} {{ index }}
  {% else %}
    {{ campaignName }}: {{ type }}
  {% endif %}
{% endblock %}

{% block main %}
  <article class="article">
    {% set toc = content | excludeBySelector('.direct-link') | toc | safe %}

    <h2 class="toc-header">Table of contents</h2>
    {% if toc.length > 0 %}
      <aside>
        {{ toc }}
      </aside>
    {% endif %}
    {{ content | safe }}
  </article>
{% endblock %}

