---
---

{% extends 'default.njk' %}

{% block subtitle %}
  {% if index %}
    {{ campaignName }}: {{ type }} {{ index }}
  {% else %}
    {{ campaignName }}: {{ type }}
  {% endif %}
{% endblock %}

{% block main %}
  <article class="article">
    {{ content | safe }}
  </article>
{% endblock %}

