<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/vmh6sew.css">
    <title>{{title}}</title>
  </head>
  <body>
    <header class="header">
      <div class="header__decor-wrapper">
        {% include "assets/wave.njk" %}
      </div>
      {% if not home %}
        <nav class="nav top-drop">
          <a class="top-drop__group-item nav__link" href="/">Home</a>
          {% block nav %}
          {% endblock %}
        </nav>
      {% endif %}

      <div class="header__hand-wrapper">
        {% include "assets/hand.njk" %}
      </div>

      <div class="header__titling">
        <h1 class="header__title">{% block title %}{{title}}{% endblock %}</h1>
        <p class="header__subtitle">{% block subtitle %}{{subtitle}}{% endblock %}</p>
      </div>
    </header>
    <div class="header__decor-wrapper header__decor-wrapper--after">
      {% include "assets/wave-after.njk" %}
    </div>
    <main class="content-wrapper">
      {% block main %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <footer class="license">
      This site
      <span class="license__work-title" xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
        <a href="https://dm.dnd.ticklethepanda.co.uk">Carpe DM</a>
      </span>
      is licensed under an
      <a class="license_license-type" rel="license" href="/license/">
        Open Gaming License, Verison 1.0a
      </a>.
    </footer>
  </body>
</html>
