---
pagination:
    data: campaigns
    size: 1
    alias: campaign
    addAllPagesToCollections: true
permalink: "campaigns/{{ campaign.title | slug }}/"
tags: campaigns
layout: default.njk
eleventyComputed:
    title: "{{ campaign.title }}"
    subtitle: "{{ campaign.subtitle }}"
    description: "{{ campaign.description }}"
---

{% block main %}
  <article class="article">
    {{ content | safe }}

    <nav class="collection-nav">
      <h2 class="collection-nav__nav-section-title">Campaign</h2>

      {% if draft %}
        <p><strong>This campaign is currently incomplete and is subject to change.</p>
      {% endif %}

      <p>Each chapter is available below, or, open the whole <a href="./combined/">campaign</a>.
      <ul class="collection-nav__list">
        {% set chaptersId = [campaign.id, "-chapters"] | join %}
        {% set chapters = collections[chaptersId] | sortByOrder %}
        {% for chapter in chapters %}
          <li class="collection-nav__list-item">
            <a class="card card--link" href="{{ chapter.url }}">
              <h3 class="card__title">
                {% if chapter.data.type != chapter.data.title %}
                  {% if chapter.data.index %}
                    {{ chapter.data.type }} {{ chapter.data.index }}: {{ chapter.data.title }}
                  {% else %}
                    {{ chapter.data.type }}: {{ chapter.data.title }}
                  {% endif %}
                {% else %}
                  {{ chapter.data.title }}
                {% endif %}
              </h3>
              <p class="card__subtitle">{{ chapter.data.subtitle }}</p>
              {% if chapter.data.description %}
                <p class="card__content">{{ chapter.data.description }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <nav class="collection-nav">
      <h2 class="collection-nav__nav-section-title">Notes</h2>
      <ul class="collection-nav__list">
        {% set notesId = [campaign.id, "-notes"] | join %}
        {% set notesCollection = collections[notesId] | sortByOrder %}
        {% for notes in notesCollection %}
          <li class="collection-nav__list-item">
            <a class="card card--link" href="{{ notes.url }}">
              <h3 class="card__title">{{ notes.data.title }}</h2>
              <p class="card__subtitle">{{ notes.data.subtitle }}</p>
              {% if notes.data.description %}
                <p class="card__content">{{ notes.data.description }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <nav class="collection-nav">
      <h2 class="collection-nav__nav-section-title">Write-ups</h2>
      <ul class="collection-nav__list">
        {% set writeupId = [campaign.id, "-writeups"] | join %}
        {% for writeup in collections[writeupId] %}
          <li class="collection-nav__list-item">
            <a class="card card--link" href="{{ writeup.url }}">
              <h3 class="card__title">{{ writeup.data.title }}</h2>
              <p class="card__subtitle">{{ writeup.data.subtitle }}</p>
              {% if writeup.data.description %}
                <p class="card__content">{{ writeup.data.description }}</p>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>


  </article>
{% endblock %}

