---
pagination:
    data: campaigns
    size: 1
    alias: campaign
    addAllPagesToCollections: true
permalink: "campaigns/{{ campaign.title | slug }}/combined/"
layout: default.njk
eleventyComputed:
    title: "{{ campaign.title }}"
    subtitle: "{{ campaign.subtitle }}"
    description: "{{ campaign.description }}"
---

{% block main %}
  <article class="article">
    {{ content | safe }}

    {% set campaign = collections[campaign.id] | sortByOrder %}
    {% for adventure in campaign %}
      {% if not loop.first %}
        <hr>
      {% endif %}
      <section>
        <h1>{{ adventure.data.title }}</h1>

        {% if adventure.data.type != adventure.data.title %}
          <p class="subheading">
            {% if adventure.data.index %}
              {{ adventure.data.type }} {{ adventure.data.index }}
            {% else %}
              {{ adventure.data.type }}
            {% endif %}
          </p>
        {% endif %}
        {{ adventure.templateContent | safe }}
      </section>
    {% endfor %}

  </article>
{% endblock %}