---
pagination:
    data: campaigns
    size: 1
    alias: campaign
    addAllPagesToCollections: true
permalink: "campaigns/{{ campaign.title | slug }}/"
tags: campaigns
layout: default.njk
eleventyComputed:
    title: "{{ campaign.title }}"
    subtitle: "{{ campaign.subtitle }}"
    description: "{{ campaign.description }}"
---

{% block main %}
  <article class="article">
    {{ content | safe }}

    <nav class="collection-nav">
      <h2 class="collection-nav__nav-section-title">Adventures</h2>
      <ul class="collection-nav__list">
        {% for adventure in collections.adventures %}
          {% if adventure.data.campaignId == campaign.id %}
            <li class="collection-nav__list-item">
              <a class="card card--link" href="{{ adventure.url }}">
                <h3 class="card__title">
                  {% if adventure.data.type != adventure.data.title %}
                    {% if adventure.data.index %}
                      {{ adventure.data.type }} {{ adventure.data.index }}: {{ adventure.data.title }}
                    {% else %}
                      {{ adventure.data.type }}: {{ adventure.data.title }}
                    {% endif %}
                  {% else %}
                    {{ adventure.data.title }}
                  {% endif %}
                </h3>
                <p class="card__subtitle">{{ adventure.data.subtitle }}</p>
                {% if adventure.data.description %}
                  <p class="card__content">{{ adventure.data.description }}</p>
                {% endif %}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <nav class="collection-nav">
      <h2 class="collection-nav__nav-section-title">Write-ups</h2>
      <ul class="collection-nav__list">
        {% for writeup in collections.writeups %}
          {% if writeup.data.campaignId == campaign.id %}
            <li class="collection-nav__list-item">
              <a class="card card--link" href="{{ writeup.url }}">
                <h3 class="card__title">{{ writeup.data.title }}</h2>
                <p class="card__subtitle">{{ writeup.data.subtitle }}</p>
                {% if writeup.data.description %}
                  <p class="card__content">{{ writeup.data.description }}</p>
                {% endif %}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </article>
{% endblock %}

