.direct-link:link, .direct-link:visited {

  font-feature-settings: 'ornm';

  color: #ffffff;
  text-decoration: none;

  font-weight: var(--font-weight-normal);

  margin-left: 0.25em;
}

:hover > .direct-link {
  color: @palette-dark-grey;
}

.direct-link:hover {
  color: @palette-black;
}

@media print {
  .direct-link {
    display: none;
  }
}
