a {
  &:link, &:visited {
    font-family: var(--display-font);
    font-weight: var(--font-weight-bold);
    color: var(--theme-primary-700);
    text-decoration: none;
  }

  &:hover {
    color: var(--theme-stroke-lc);
  }

  @media print {
    &::after {
      content: ' [' attr(href) '] '
    }
  }
}
