.direct-link:link, .direct-link:visited {

  font-feature-settings: 'ornm';

  color: #ffffff;
  text-decoration: none;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);

  float: right;
  padding-top: 0.22em;
  padding-left: 0.5em;
}

:hover > .direct-link {
  color: @palette-dark-grey;
}

.direct-link:hover {
  color: @palette-black;
}

@media print {
  .direct-link {
    display: none;
  }
}
