@content-width: 600px;
@content-margin: 8vw;

:root {
  --content-margin: @content-margin;
  --content-width: @content-width;

  --content-spacing: 0.7rem;
  --section-spacing: 1.5rem;
}

html, body {
  font-size: 18px;
  line-height: 1.4;

  font-family: @body-font;

  color: @palette-black;
}

@media print {
  html, body {
    color: #000000 !important;
  }
}

