:root {
  --content-min-margin: @content-min-margin;
  --content-max-width: @content-max-width;

  --content-spacing-l: 2rem;
  --content-spacing: 0.7rem;
  --section-spacing: 1.5rem;
}

:root {
  font-size: ~"max(100%, 80% + 2vmin)";
}

body {
  font-size: 100%;
}

html, body {
  line-height: 1.25;

  font-family: @body-font;
  font-kerning: normal;
  font-variant-numeric: oldstyle-nums;

  color: @palette-black;

  font-variant-ligatures: discretionary-ligatures;
}

@media print {
  * {
    color: @print-black !important;
    background-color: @print-white !important;

    text-shadow: none !important;
    box-shadow: none !important;
    border-color: @print-black;
  }
}
