body {
  margin: var(--content-margin);
}

/* IE width */
.content {
  display: block;

  max-width: @content-width;
  margin: auto;
}

@supports(max-width: var(--content-width)) {

  .content {
    max-width: var(--content-width);
    margin: auto;
    margin-top: var(--content-margin);
    margin-bottom: 50vh;
  }

}

@media print {

  @page-margin: 5cm;

  @page {
    size: A4 portrait;

    margin: @page-margin;
  }

  html, body {
    font-size: 11pt;
  }

  body {
    margin: 0;
  }

  h2 {
    page-break-before: always;
  }

  h3, h4, h5 {
    page-break-after: avoid;
  }

}
