.content-wrapper {
  margin-left: var(--content-min-margin);
  margin-right: var(--content-min-margin);

  padding-top: var(--content-spacing-xl);
}

.article {
  max-width: var(--content-max-width);
  margin: auto;
}

@media print {

  @total-page-margin: 5cm;
  @content-margin: 2rem;

  @page {
    size: A4 portrait;

    margin: calc(@total-page-margin - @content-margin);
  }

  html, body {
    font-size: 11pt;
  }

  body {
    margin: @content-margin;
  }

  h2 {
    page-break-before: always;
  }

  h3, h4, h5 {
    page-break-after: avoid;
  }

}
