/* Spacing */
:root {
  --content-min-margin: @content-min-margin;
  --content-max-width: @content-max-width;

  --content-spacing-l: 2rem;
  --content-spacing: 0.7rem;
  --section-spacing: 1.5rem;
}

/* Fonts families */
:root {
  --display-font: adobe-garamond-pro, serif;
  --body-font: adobe-garamond-pro, serif;
  --medieval-font: 'Pfeffer Mediaeval', cursive;
  --monospace-font: monospace;
}

/* Font sizes */
:root {

  --base-font-size: ~"max(100%, 80% + 2vmin)";

  --title-font-size: ~"max(0.8rem + 13vmin, 1rem)";
  --subtitle-font-size: ~"max(var(--title-font-size) * 0.35, 1rem)";

  --font-size-xs: 0.8rem;
  --font-size-s: 0.9rem;
  --font-size-default: 1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.4rem;

  @media print {
    --base-font-size: 11pt;

    --title-font-size: 30pt;
    --subtitle-font-size: 15pt;

    --font-size-xs: 10pt;
    --font-size-s: 10pt;
    --font-size-default: 1rem;
    --font-size-l: 13pt;
    --font-size-xl: 15pt;

  }

}

/* Line height */
:root {
  --base-line-height: 1.25;
}

/* Font weights */
:root {
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-weight-x-bold: 700;
}

/* Default typeography */
:root {
  font-size: var(--base-font-size);
}

body {
  font-size: 100%;
}

html, body {
  line-height: var(--base-line-height);

  font-family: var(--body-font);

  font-kerning: normal;
  font-variant-numeric: oldstyle-nums;

  color: var(--theme-stroke);
}

@media print {
  * {
    color: var(--palette-black) !important;
    background-color: var(--palette-white) !important;

    text-shadow: none !important;
    box-shadow: none !important;
    border-color: var(--palette-black) !important;
  }
}