.nav {
  @media print {
    display: none;
  }

}

.nav__link {

  font-family: var(--display-font);

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  padding: 0.8em;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-decoration: none;

  &:link, &:visited {
    color: @palette-black;

    background-color: @palette-primary-light;
    border-color: unset;
    border-width: 0;
  }

  &:hover {
    background-color: lighten(@palette-primary-light, 5%, relative);
  }
}

.nav__link--active {
  background-color: @palette-black;

  &:link, &:visited {
    color: @palette-white;
  }

}
