.license {
  position: absolute;
  font-size: 0.8rem;
  text-align: right;

  max-width: 350px;

  right: var(--content-margin);
  padding-bottom: var(--content-margin);
}

.license__work-title {
  font-style: italic;
}

.license__license-type {

}

