.card {

  @card-shadow-offset: 0.4rem;

  background-color: var(--theme-alt-background);
  color: var(--theme-alt-stroke);

  padding: 1rem;
  padding-top: 0.8rem;

  margin-right: @card-shadow-offset;
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-shadow: @card-shadow-offset @card-shadow-offset var(--theme-alt-primary);

}

.card--link {

  &:link, &:visited {
    color: var(--theme-alt-stroke);
  }

  display: block;

  text-decoration: none;

  transition-property: background-color;
  transition-duration: 0.2s;

  &:hover {
    .card__title {
      text-decoration: underline;
    }
    opacity: 0.8;
  }

  font-weight: var(--font-weight-normal);

  display: flex;
  flex-direction: column;
}

.card__title {

  &::before {
    content: unset;
  }

  margin-top: 0;

  font-weight: var(--font-weight-normal);
}

.card__subtitle {

  margin-top: 0;

  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: var(--font-weight-normal);
}

.card__content {
  font-weight: var(--font-weight-normal);
}
