@header-padding: 8vmin;

.header {
  margin: initial;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;

  height: 100vh;
  height: 100svh;

  hyphens: none;

  background-color: var(--theme-alt-background);

  @media screen and (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  @media print {
    justify-content: flex-end;
  }
}

.header__decor-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 30vmin;

  overflow: hidden;

  @media print {
    display: none;
  }
}

.header__decor-wrapper--after {
  position: static;
  height: 30vmin;

  background-color: var(--theme-alt-background);
}

.header__wave-decor {
  fill: var(--theme-alt-primary);

  width: 50em;
  min-width: 100%;
  height: 100%;

  overflow: hidden;

  @media print {
    display: none;
  }

  filter: drop-shadow(0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2));
}

.header__wave-decor--after {
  fill: var(--theme-background);

  height: 100%;

  filter: drop-shadow(-0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2));

  transform: rotate(180deg);

  @media print {
    display: none;
  }
}

.header__hand-wrapper {
  display: grid;
  align-items: end;
  width: 100%;

  @media screen and (orientation: portrait) {
    display: block;
    width: auto;
  }
}

.header__hand-decor {
  max-width: 45vh;
  width: 100%;
  height: auto;

  fill: var(--theme-alt-primary);
  transform: translate(11vw, 12vh) rotate(-42deg) scale(2);
  transform-origin: bottom left;

  filter: drop-shadow(0.05em 0.1em 0.15em rgba(0, 0, 0, 0.3));

  @media screen and (orientation: portrait) {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;

    max-width: none;
    width: 83vh;
    height: auto;

    fill: var(--theme-alt-primary);
    transform: translate(-50%, 8vw) rotate(90deg);
    transform-origin: center;
  }

  @media print {
    display: none;
  }
}

.header__titling {
  display: flex;
  flex-direction: column;
  align-self: center;

  height: min-content;
  margin-top: 10vh;
  padding: 4vmin;

  color: var(--theme-alt-stroke);

  font-variant-ligatures: discretionary-ligatures;

  z-index: 1;

  @media screen and (orientation: portrait) {
    margin-left: 0;
  }
}

.header__title {
  font-family: var(--display-font);
  font-size: var(--title-font-size);
  color: var(--palette-white);
  line-height: 1;

  position: sticky;

  text-align: center;

  text-shadow: 0.02em 0.02em var(--theme-alt-primary),
    0.02em 0.04em 0.07em rgba(0, 0, 0, 0.3);

  margin: 0;
}

.header__subtitle {
  margin: 0;
  padding: 0;

  font-family: var(--display-font);
  font-size: var(--subtitle-font-size);
  font-style: italic;

  line-height: 1;

  text-align: center;

  text-shadow: 0.05em 0.08em 0.14em rgba(0, 0, 0, 0.3);

  &::first-letter {
    font-feature-settings: "swsh";
  }
}
