.top-drop {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  height: 3.8rem;
}

.top-drop__group-item {
  border: solid 1px @palette-black;
  border-top: none;
}

.top-drop__group {
  display: flex;

  border: solid 1px @palette-black;
  border-top: none;
}

.top-drop__item {
  display: flex;

  border-right: solid 1px @palette-black;

  &:last-of-type {
    border-right: none;
  }
}
