.card {

  @card-shadow-offset: 0.4rem;

  background-color: @palette-black;
  color: @palette-white;

  padding: 1rem;
  padding-top: 0.8rem;

  margin-right: @card-shadow-offset;
  margin-top: 1rem;
  margin-bottom: 1rem;

  box-shadow: @card-shadow-offset @card-shadow-offset @palette-primary-light;

}

.card--link {

  &:link, &:visited {
    color: @palette-white;
  }

  display: block;

  text-decoration: none;

  transition-property: background-color;
  transition-duration: 0.2s;

  &:hover {
    .card__title {
      text-decoration: underline;
    }

    background-color: lighten(@palette-black, 20%, relative);
  }

}

.card__title {

  &::before {
    content: '';
  }

  margin-top: 0;

  font-weight: var(--font-weight-normal);
}

.card__content {
  font-weight: var(--font-weight-normal);
}
