@header-font-size: 15vw;
@header-max-font-size: 8rem;

.header {
  display: flex;
  height: calc(100vh - 2 * var(--content-margin));
  align-items: flex-end;
  line-height: 1;
  margin-bottom: var(--content-spacing);
}

.header__title {
  font-size: 8rem;
  position: sticky;
  bottom: var(--content-margin);
}

.header__title::after {
  content: "";
  display: block;
  border-bottom: 0.2rem solid @palette-black;
}

@media screen and (max-width: 700px) {
  .header {
    border-bottom-width: 0.1vw;
  }

  .header__title {
    font-size: 15vw;
  }
}

@media print {
  .header {
    height: calc(100vh - 1rem);
  }

}
