.nav {
  @media print {
    display: none;
  }

}

.nav__link {

  font-family: var(--display-font);

  font-weight: var(--font-weight-bold);
  font-variant-caps: small-caps;
  padding: 0.8em;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-decoration: none;

  &:link, &:visited {

    transition-property: background-color, padding-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    color: @palette-black;

    background-color: @palette-primary-light;
    border-color: lighten(@palette-primary-light, 15%, relative);
    border-style: solid;
    border-width: 0.15em;
    border-top-width: 0;

    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
  }

  &:hover {
    padding-top: 1.2em;
  }
}

.nav__link--active {
  background-color: @palette-black;

  &:link, &:visited {
    color: @palette-white;
  }

}
