@header-font-size: 15vmin;
@header-max-font-size: 8rem;

.header {
  margin: initial;

  display: flex;
  align-items: center;

  height: 100vh;

  hyphens: none;
}

.header__title {

  width: 100%;

  font-family: @heading-font;
  font-size: @header-font-size;

  padding: 2rem;

  font-style: italic;
  font-feature-settings: "swsh" 2;

  position: sticky;

  text-align: center;
}

@media print {
  .header {
    height: calc(100vh - 1rem);
  }
}

@media screen and (orientation: portrait) {

  .header__title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: flex;
    align-items: center;

    padding-inline-end: 4.5rem;
  }

}
