.article {
  ul, ol {
    margin-left: 2rem;

    margin-top: var(--content-spacing);
  }

  ul {
    & > li {
      list-style: disc;
    }
  }

  ol {
    counter-reset: oli;

    li {
      counter-increment: oli;
    }

    & > li::before {
      font-weight: 700;
      content: counter(oli) ". ";
    }
  }
}

