---
  layout: home
  title: When I'm a Dungeon Master
---

<article class="article">
  <p>
    I'm web developer and a D&amp;D dungeon master and player. Naturally, I used
    the web to help me write an adventure. Here you can find the plans for my
    adventures and my experience running them.
</article>
<nav class="collection-nav">
  <h2 class="collection-nav__nav-section-title">Campaigns</h2>
  <p>These are campaigns that I have either ran, or that are ready to be ran.
  <ul class="collection-nav__list">
    {% for campaign in collections.campaigns | reverse %}
      <li class="collection-nav__list-item">
        <a class="card card--link" href="{{ campaign.url }}">
          <h3 class="card__title">{{ campaign.data.title }}</h2>
          {% if campaign.data.description %}
            <p class="card__content">{{ campaign.data.description }}</p>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>

