---
  layout: home
  title: When I'm a Dungeon Master
---

<article class="article">
  <p>
    I'm web developer and a D&amp;D dungeon master and player. Naturally, I used
    the web to help me write an adventure. Here you can find the plans for my
    adventures and my experience running them.
</article>
<nav class="home-page-nav">
  <h2 class="home-page-nav__nav-section-title">Adventures</h2>
  <ul>
    {% for plan in collections.plan | reverse %}
      {% if not plan.draft %}
        <li>
          <a class="card card--link" href="{{ plan.url }}">
            <h3 class="card__title">{{ plan.data.title }}</h2>
            {% if plan.data.description %}
              <p class="card__content">{{ plan.data.description }}</p>
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <h2 class="home-page-nav__nav-section-title">Draft Adventures</h2>
  <ul>
    {% for plan in collections.plan %}
      {% if plan.draft %}
        <li>
          <a class="card card--link" href="{{ plan.url }}">
            <h3 class="card__title">{{ plan.data.title }}</h2>
            {% if plan.data.description %}
              <p class="card__content">{{ plan.data.description }}</p>
            {% endif %}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

